In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv("data/by_station_daily_new/turnstile_group_by_station_daily_new.csv")

df.columns = ["station_name", "date", "new_entries"]
df["date"] = pd.to_datetime(df["date"])

In [4]:
Q1 = df["new_entries"].quantile(.05)
Q3 = df["new_entries"].quantile(.95)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_sub = df[(df["date"] >= "2019-03-01") & (df["date"] <= "2021-12-01")]
df_sub = df_sub[(df_sub["new_entries"] > 0) & (df_sub["new_entries"] <= upper_bound)]

df_sub.head(10)

  station_name       date  new_entries
0         1 AV 2019-12-29       5022.0
1         1 AV 2019-12-30      12717.0
2         1 AV 2019-12-31      13402.0
3         1 AV 2020-01-01       7253.0
4         1 AV 2020-01-02      15443.0
5         1 AV 2020-01-03      16168.0
6         1 AV 2020-01-04       6930.0
7         1 AV 2020-01-05       5586.0
8         1 AV 2020-01-06      16560.0
9         1 AV 2020-01-07      17060.0

In [14]:
df_sub[(df_sub["date"] >= "2020-01-01") & (df_sub["date"] <= "2020-01-31") & (df_sub["station_name"] == "72 ST")]["new_entries"].mean()

22800.636363636364

In [15]:
df_sub[(df_sub["date"] >= "2021-01-01") & (df_sub["date"] <= "2021-01-31") & (df_sub["station_name"] == "72 ST")]["new_entries"].mean()

7681.193548387097

In [29]:
round(7681.193548387097 / 22800.636363636364 * 100, 2)

33.69

In [47]:
df_sub[(df_sub["date"] >= "2020-01-01") & (df_sub["date"] <= "2020-01-31") & (df_sub["station_name"] == "116 ST")]["new_entries"].mean()

12637.161290322581

In [46]:
df_sub[(df_sub["date"] >= "2021-01-01") & (df_sub["date"] <= "2021-01-31") & (df_sub["station_name"] == "116 ST")]["new_entries"].mean()

4416.612903225807

In [48]:
round(4416.612903225807 / 12637.161290322581 * 100, 2)

34.95